{% macro render_header() %} 
{% set section = get_section(path="_index.md") %}
<header class="mb-6 dark:bg-indigo-900 bg-indigo-300">
  <div class="mx-auto max-w-6xl">
    <div class="grid grid-cols-2 p-5 text-neutral-900 dark:text-white nav:flex nav:place-content-between">
      <a class="flex w-fit items-center gap-x-4" href="{{ section.permalink }}">
          <img
          class="inline h-12"
          src="{{ get_url(path=config.extra.logo_path) }}"
          alt="logo"
          />
          <span class="inline whitespace-nowrap text-4xl font-bold">
          {{ config.extra.logo_name }}
          </span>
      </a>
      {% if config.extra.extra_menu %}
      <input
          id="nav-menu-toggle"
          class="hidden"
          type="checkbox"
          autocomplete="off"
      />
      <label
          id="nav-menu-toggle-icon"
          for="nav-menu-toggle"
          class="select-none place-self-end text-4xl nav:hidden inline-block align-middle self-center"
      >
          &#xe5d2;
      </label>
      <div id="nav-menu" class="col-span-2 mt-5 items-center nav:mt-0 nav:flex">
          <div
          class="flex flex-col gap-y-3 nav:mt-0 nav:flex-row nav:items-center nav:gap-x-6"
          >
          {% for menu in config.extra.extra_menu %}
          <a class="flex items-center gap-x-2 p-1 rounded-md text-xl hover:text-sky-700 dark:hover:text-sky-300 transition-colors" href="{{ menu.link }}">
              {% if menu.icon_path %}
              <img
              class="inline h-6"
              src="{{ menu.icon_path }}"
              alt="{{ menu.title }} icon"
              />
              {% endif %}
              <span class="inline text-xl"> {{ menu.title }} </span>
          </a>
          {% endfor %} 
          {% endif %}
          </div>
      </div>
    </div>
  </div>
</header>

<!-- prettier-ignore -->
{% endmacro render_header %}
{% macro render_footer() %}

<footer
  class="mt-4 flex flex-col place-items-center bg-gray-700 p-4 text-gray-200"
>
  <p>
    <a class="underline" href="{{ config.extra.site_repository_url }}"
      >Website source code</a
    >.
  </p>
  <p>Dual-licensed under MIT and Apache.</p>
  <p>Powered by <a class="underline" href="https://getzola.org">Zola</a>.</p>
</footer>
{% endmacro %}
