{% import "_macros.html" as macros %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% block favicon %}
    <link rel="icon" type="image/png" href="/favicon.ico" />
    {% endblock favicon %} {% include "_variables.html" %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- TODO
    <link rel="stylesheet" type="text/css" href="/syntax-highlight-dark.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" type="text/css" href="/syntax-highlight-light.css" media="(prefers-color-scheme: light)" />
    -->
    {% block head %}
    <link rel="icon" href="spade.svg" />
    {% endblock %}
    <script>
      // Setup dark mode on load
      if ("theme" in localStorage) {
        // Do nothing, already specified
      } else {
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          localStorage.theme = "dark";
        } else {
          localStorage.theme = "light";
        }
      }

      function updateDarkMode() {
        if (localStorage.theme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }
      updateDarkMode();

      function toggleDarkMode() {
        if (localStorage.theme === "light" || !("theme" in localStorage)) {
          localStorage.theme = "dark";
        } else {
          localStorage.theme = "light";
        }
        updateDarkMode();
      }
    </script>
  </head>

  <body
    class="w-full flex min-h-screen flex-col justify-center bg-white text-neutral-900 dark:bg-gray-900 dark:text-neutral-200"
  >
    <!-- prettier-ignore -->
    {% block header %}
    {% endblock header %}

    <!-- prettier-ignore -->
    {% block frontmatter %}
    {% endblock frontmatter %}

    <main class="md:mx-auto max-w-6xl break-words mb-6 nav:flex nav:gap-8 p-4 rounded-md light:bg-space-gray-100"> 
      <!-- prettier-ignore -->
      {% if section.toc %}
      {% set toc = section.toc %}
      {% elif page.toc %}
      {% set toc = page.toc %}
      {% endif %}

      {% if toc %}

      <div
        class="max-w-fit border-0 border-neutral-600 p-2 pr-4 dark:border-neutral-400 nav:border-r-2"
      >
        <div class="mb-6 nav:sticky nav:top-2 nav:mb-0 nav:w-max">
          <p class="text-2xl underline">Table of Contents</p>
          <ul class="list-inside list-disc">
            {% for h in toc %}
            <li>
              <a class="text hover:text-sky-600 dark:hover:text-sky-300 transition-colors" href="{{h.permalink | safe}}">{{ h.title }}</a>
              {% if h.children %}
              <ul class="mx-4 list-inside list-disc">
                {% for h2 in h.children %}
                <li>
                  <a class="hover:text-sky-600 dark:hover:text-sky-300 transition-colors" href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}

      <div class="w-full min-w-0">
        {% block mainmatter %} {% endblock mainmatter %}
      </div>
    </main>

    <!-- prettier-ignore -->
    {% block endmatter %}
    {% endblock endmatter %}

    {% block footer %}
    {{ macros::render_footer() }}
    {% endblock footer %}
  </body>
</html>
