{% import "_macros.html" as macros %} {% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}
{{ section.title }} | {{ super() }}
{% endblock title %}

{% block header %}
{{ macros::render_header() }}
{% endblock header %}

{% block mainmatter %}
<div class="prose prose-neutral dark:prose-invert">
  {{ section.content | safe }}
</div>

{% if section.extra.show_posts and section.extra.show_posts.enable %}

<hr class="my-6 border-black dark:border-white" />

<!-- prettier-ignore -->
{%- for page in section.pages %}
{%- if page.draft %} {% continue %} {% endif -%}

<section class="mb-4 mx-auto max-w-6xl">
  <h2 class="text-2xl font-bold">
    <a href="{{ page.permalink }}">{{page.title}}</a>
  </h2>

  <!-- prettier-ignore -->
  <p id="post-metadata">
    {% if section.extra.show_posts.authors %}
    <span>{{ page.extra.author }}</span>
    {% endif %}

    {% if section.extra.show_posts.dates %}
    <span><time>{{ page.date | date(format="%Y-%m-%d") }}</time></span>
    {% endif %}
  </p>

  <!-- prettier-ignore -->
  <div>
    {% if page.description %}
    {{ page.description }}
    {% elif page.summary %}
    {{ page.summary }}&hellip;
    {% else %}
    {% set hide_read_more = true %}
    {% endif %}
  </div>

  {% if not hide_read_more %}
  <a href="{{ page.permalink }}">Read more ⟶</a>
  {% endif %}
</section>

<!-- prettier-ignore -->
{% endfor -%}
{% endif %}
{% endblock mainmatter %}
