@tailwind base;
@tailwind components;
@tailwind utilities;

.prose pre {
    overflow: auto;
    min-width: 100%;
    max-width: fit-content;
}

@media (min-width: 38ch) {
    .prose pre {
        min-width: 40ch;
    }
}

p, li {
    font-size: 18px;
}

/* "[ ]" around publication links, in order to differentiate them. */

div.publication_links a::before {
    content: '[';
}

div.publication_links a::after {
    content: ']';
}

/* navbar */

#nav-menu-toggle-icon {
    font-family: Material Symbols Outlined;
}

#nav-menu {
    display: none;
}

#nav-menu-toggle:checked ~ #nav-menu {
    display: flex;
}

@media (min-width: 1000px) {
    #nav-menu {
        display: flex;
    }
}


.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links a {
    text-decoration: none;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 15pt;
    /*background-color: rgb(40, 46, 129);*/
    border-radius: 5pt;
}

.links a img {
    display: inline;
    height: 1.1em;
    margin: 0em;
    padding-bottom: 0.0em;
}

/* end navbar */
